.ap-main-content-item
{
    display:flex;
    flex-direction: column;
    text-decoration: none;
    .span-btn-container
    {
        margin:20px;
        display: flex;
        align-items: center;
        .user-data
        {
            text-align: center;
            text-decoration: none;
            &:focus
            {
                outline: none;
                // color:white;
                caret-color: transparent;
                // caret-shape: underscore;
            }
        }
        .btn-template
        {
            max-width: 150px;
        }
        *
        {
            margin-inline: 20px;
        }

    }
}
.avaiable:focus
{
    color:rgb(22, 202, 22);
}
.not-avaiable:focus
{
    color:rgb(255, 52, 52);
}