@use 'lay_vars' as v;
.grid
{
    .main
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-columns: 20%;
        margin-inline: 10vw;
        @media(max-width: 1000px)
        {
            grid-template-columns: 1fr 1fr;

        }
        @media(max-width:600px)
        {
            grid-template-columns: 1fr;
        }
    }
    .card-container
    {
        display:flex;
        flex-direction: column;
        margin:20px;
        min-height: 350px;
        border-radius: 10px;
        box-shadow: v.$black-shadow;
        border : 1px solid v.$l-bg-color;
        &:hover
        {
            border:solid 1px white;
            transform: scale(1.1);
        }
        .card-img-wrapper
        {
            display: flex;
            flex-grow: 1;
            overflow: hidden;
            .card-img {
                flex-grow:1;
                max-width: 100%;
                max-height: 100%; 
                object-fit: cover;
                padding: 5px;
                border-radius: 10px;
                user-select: none;
                -webkit-user-drag: none;
                cursor:pointer; 
            }
        }
        .card-description
        {
            overflow: hidden;
            margin: 5px;
            cursor:default;
        }

    }
}


.section-container
{
    margin:5px 5px 0 5px;
    display:flex;
    justify-content: space-between;
    border-bottom: 1px white solid;
    .span-section
    {
        cursor:default;
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .card-price
        {
            font-weight: 700;
            color:white;
        }

    }
    .button-section
    {
        flex-wrap: wrap;

    }
    .span-section, .button-section
    {
        padding-bottom: 5px;
    }

    .span-section > *
    {
    
        text-align: center;
    }


}
.btn-template
{
    cursor:pointer;
    min-width: 20px;
    color: rgb(0, 0, 0);
    background-color: v.$l-txt-color;
    border: solid 1px black;
    border-radius: 5px;
    font-weight:700;
    font-size: 16px;
    user-select: none;
    padding:5px;
    
}
.btn-template:hover
{
    transform: scale(1.05);
    border-color: white;
    color: white;
}
.btn-template:active
{
    background-color: white;
    color:black;
}