@use 'lay_vars' as v;
.grid
{
    display: grid;
    gap:40px;
    margin: 0;
    padding: 0;
    text-align: center;
    .navbar
    {
        display: flex;
        justify-content:flex-end;
        align-items: center;
        flex-wrap: wrap;
        user-select: none;
        border-bottom: 1px solid white;
        padding-bottom: 5px;

        @media (max-width:1000px)
        {
            justify-content: space-around;
            min-width: 100px;
        }
        .navbar-item
        {
            display: flex;
            align-items: center;
            flex-grow: 1;
            margin: 5px;
            padding: 3px;
            border:solid 1px v.$l-bg-color;
            border-radius: 10px;
            max-width: 10vw;
            min-width: 150px;
            max-height: 30px;
            box-shadow: v.$black-shadow;
            .navbar-icon-wrapper
            {
                display:flex;
                overflow: hidden;
                width: 20%;
                height: 20%;    
                margin:5px;
                .navbar-icon
                {
                    flex-grow:1;
                    max-width: 100%;
                    max-height: 100%;
                    object-fit: contain;
                    filter: invert(47%) sepia(55%) saturate(503%) hue-rotate(289deg) brightness(85%) contrast(84%);
                }
            }
            &:hover
            {
                border:1px solid white;
                color:white;

            }
            &:active
            {
                background-color: white;
                color:black;
            }
            a
            {
                display: block;
                width: 100%;
                height: 100%;
                color:inherit;
            }
        }
    }
}